* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Silkscreen', sans-serif;
}

img {
  width: 130px;
}

#container {
  margin-top: 80px;
  margin-bottom: 30px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-bottom: 10px;
  opacity: 0.9;
}

p {
  margin-bottom: 40px;
  color: darkgrey;
}

input,
button {
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 16px;
  font-family: 'Silkscreen', sans-serif;
  border-radius: 4px;
}

input {
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: rgb(86, 219, 53);
  color: white;
  transition: filter 0.2s;
}

/* pseudo-class :hover */
button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta {
  margin-top: 38px;

  transition: opacity 1s;
}

#respota div {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}